---
import Layout from '../../layouts/Layout.astro';
import Tag from '../../components/Tag.astro';
import { getCollection } from 'astro:content';

const notes = await getCollection('notes');
const tags = [...new Set(notes.flatMap((note) => note.data.tags || []))].sort();
---

<Layout title="Tags - TIL">
  <div class="space-y-6">
    <h1 class="text-3xl font-bold tracking-tighter">Tags</h1>
    <div class="flex flex-wrap gap-4">
      {tags.map((tag) => <Tag tag={tag} />)}
    </div>
  </div>
</Layout>
