---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Tag from '../components/Tag.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map((note) => ({
    params: { slug: note.slug || note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<Layout title={`${note.data.title} - TIL`}>
  <article class="prose prose-zinc mx-auto lg:prose-lg py-6">
    <div class="mb-4">
      <h1 class="mb-2">{note.data.title}</h1>
      <div class="flex flex-wrap gap-2 not-prose items-center text-sm text-muted-foreground">
        <time datetime={note.data.date.toISOString()}>
          {note.data.date.toISOString().split('T')[0]}
        </time>
        <span>•</span>
        <div class="flex gap-2">
          {note.data.tags?.map((tag) => <Tag tag={tag} />)}
        </div>
      </div>
    </div>
    <div class="mt-8">
      <Content />
    </div>
  </article>
</Layout>
