---
import { Calendar } from 'lucide-astro';
import Tag from './Tag.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  note: CollectionEntry<'notes'>;
}

const { note } = Astro.props;
---

<div class="rounded-lg border bg-card text-card-foreground shadow-sm hover:shadow-md transition-shadow">
  <div class="flex flex-col space-y-1.5 p-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2 text-sm text-muted-foreground">
        <Calendar class="size-3" />
        <time datetime={note.data.date.toISOString()}>
          {note.data.date.toISOString().split('T')[0]}
        </time>
      </div>
    </div>
    <h3 class="text-2xl font-semibold leading-none tracking-tight hover:underline underline-offset-4 decoration-primary/50">
      <a href={`/${note.slug}`}>{note.data.title}</a>
    </h3>
  </div>
  <div class="p-6 pt-0 flex flex-wrap gap-2">
    {note.data.tags?.map((tag) => (
      <Tag tag={tag} />
    ))}
  </div>
</div>
